.menu {
    top: 305px;
    right: 300px;
    position: fixed;
    z-index: 10001;
    box-sizing: border-box;
    position: fixed;
}

@keyframes MenuAnim {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

.menu ul {
    padding: 15px;
    border: 2px #242424 solid;
    font-family: Bahnschrift;
    text-transform: uppercase;
    width: 250px;
    font-size: 26px;
    font-weight: 400;
    animation: MenuAnim 3.0s ease-in-out;
    border-radius: 10px;
    background: #141414;
    box-shadow: 2px 2px 4px #000000;
}

.menu li {
    text-align: center;
    margin: 5px auto 5px;
    padding: 8px;
    list-style: none;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    transition: 0.5s;
    background: #242424;
    color: #ffffff;
    border-right: 1px #ffffff solid;
}

.menu li:hover {
    background: #ffffff;
    border-radius: 25px 0px 0px 25px;
    color: #000000;
}

.menu li.active {
    background: #ffffff;
    border-radius: 25px 0px 0px 25px;
    color: #000000;
}

.menu a.active {
    background: #ffffff;
    border-radius: 25px 0px 0px 25px;
    color: #000000;
}

@keyframes slideMenu {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes glow1 {
    from {
        text-shadow: 0 0 3px #88b4ee, 0 0 5px #fff, 0 0 3px #88b4ee, 0 0 5px #88b4ee, 0 0 5px #88b4ee, 0 0 5px #88b4ee, 0 0 9px #88b4ee;
    }
    to {
        text-shadow: 0 0 2px #88b4ee, 0 0 5px #88b4ee, 0 0 5px #88b4ee, 0 0 10px #88b4ee, 0 0 10px #88b4ee, 0 0 8px #88b4ee, 0 0 8px #88b4ee;
    }
}

#fechar {
    z-index: 1002;
    text-align: center;
    position: fixed;
    margin-top: -67px;
    margin-left: 15px;
    font-size: 27 px;
    color: #ffffff;
    padding: 10px;
    transition: 0.5s;
    display: none;
    border-radius: 10px 10px 0px 0px;
    background: #242424;
    border: none;
    box-sizing: border-box;
}

#fechar:hover {
    background: #ffffff;
    color: #000000;
}

.fundoPreto {
    background: #000000;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 997;
    overflow: hidden;
}