@media (max-width: 1400px) {
    .LogoMenu {
        top: 0;
        right: 62px;
    }
    #esconder-menu {
        display: block;
    }
    .menu {
        top: 275px;
        right: 42px;
        display: block;
    }
    .link-margem {
        margin-top: 70px;
    }
    .menuhambur {
        top: 551px;
        right: 131px;
    }
    .menuhambur2 {
        top: 469px;
        right: 16px;
    }
    #separarImg {
        float: right;
        height: 530px;
        z-index: 1000;
    }
    .trabalhos h2 {
        width: 70%;
    }
    .contato h2 {
        width: 70%;
        left: 10px;
    }
}


/*  */

@media (max-width: 1200px) {
    .LogoMenu {
        top: 0;
        right: 89px;
    }
    #separarImg {
        float: right;
        height: 520px;
        z-index: 1000;
    }
    .menu {
        top: 422px;
        right: 65px;
    }
    #esconder-menu {
        display: block;
    }
    .link-margem {
        margin-top: 55px;
    }
    .menuhambur {
        top: 442px;
        right: 7px;
    }
    .menuhambur2 {
        top: 302px;
        right: 0px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    #quadrado-position {
        position: fixed;
        top: 165px;
        left: 78px;
        z-index: 999;
    }
    #slider figure {
        width: 1000%;
        height: 400px;
        /* 100% for each picture, 10 pictures = 1000% */
    }
    #slider figure img {
        width: 10%;
        max-width: 300%;
        min-height: 300%;
    }
}

@media (max-width: 1000px) {
    .menuhambur {
        top: 437px;
        right: 36px;
    }
    .trabalhos h2 {
        width: 70%;
        font-size: 45px;
    }
    .contato h2 {
        width: 70%;
        font-size: 55px;
    }
    #slider figure {
        width: 1000%;
        height: 600px;
        /* 100% for each picture, 10 pictures = 1000% */
    }
    #slider figure img {
        width: 10%;
        max-width: 300%;
        min-height: 300%;
    }
}


/*  */

@media (min-width: 768px) and (max-width: 991px) {
    /* ----------- FOOTER (min-width: 768px) and (max-width: 991px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (min-width: 768px) and (max-width: 991px)---------- */
    /* ----- MENU  */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
        background-image: url(../imagens/square-index-menor.png);
    }
    .quadradoUtilites {
        top: 47px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (min-width: 768px) and (max-width: 991px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (min-width: 768px) and (max-width: 991px) */
    .designn {
        font-size: 37px;
        left: 15px;
        top: 277px;
    }
    .nauan {
        font-size: 46px;
        left: 10px;
        top: 230px;
    }
    /*  */
    .menuhambur {
        top: 473px;
        right: 16px;
    }
    .menu {
        top: 456px;
        right: 74px;
    }
    /* ---------- OUTRAS PÁGINAS (min-width: 768px) and (max-width: 991px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (min-width: 768px) and (max-width: 991px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* portfolio (min-width: 768px) and (max-width: 991px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (min-width: 768px) and (max-width: 991px) */
    .trabalhos h2 {
        width: 50%;
        top: 65px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (min-width: 768px) and (max-width: 991px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (min-width: 768px) and (max-width: 991px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .sobre h2 {
        width: 70%;
        top: 60px;
        font-size: 42px;
    }
    /* --------- CONTATO (min-width: 768px) and (max-width: 991px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 50%;
        top: 38px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    /* ----------- FOOTER (max-width: 767px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 767px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
        background-image: url(../imagens/square-index-menor.png);
    }
    .quadradoUtilites {
        top: 46px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 767px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 767px) */
    .designn {
        font-size: 37px;
        left: 15px;
        top: 277px;
    }
    .nauan {
        font-size: 46px;
        left: 10px;
        top: 230px;
    }
    /*  */
    .menu {
        top: 407px;
        right: 94px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 767px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 767px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 767px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 767px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay(max-width: 767px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 767px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 532px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 767px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 600px) {
    /* ----------- FOOTER (max-width: 600px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 600px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 60px;
        left: 60px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
        background-image: url(../imagens/square-index-menor.png);
    }
    .quadradoUtilites {
        top: 47px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 600px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 600px) */
    .designn {
        font-size: 37px;
        left: 15px;
        top: 277px;
    }
    .nauan {
        font-size: 46px;
        left: 10px;
        top: 230px;
    }
    /*  */
    .menu {
        top: 407px;
        right: 94px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 600px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 600px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 93%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 600px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 600px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 600px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 600px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 530px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 600px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 480px) {
    /* ----------- FOOTER (max-width: 480px) ------------ */
    .footer {
        padding: 12px;
        font-size: 11px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 480px) ---------- */
    /* ----- MENU */
    .menuhambur {
        top: 437px;
        right: 65px;
    }
    /*  */
    #quadrado-position {
        position: fixed;
        top: 70px;
        left: 45px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
        background-image: url(../imagens/square-index-menor.png);
    }
    .quadradoUtilites {
        top: 47px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 480px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 480px) */
    .designn {
        font-size: 37px;
        left: 15px;
        top: 277px;
    }
    .nauan {
        font-size: 46px;
        left: 10px;
        top: 230px;
    }
    /*  */
    .menu {
        top: 425px;
        right: 123px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 480px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 480px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 480px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 480px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 480px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 480px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 33px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    .imagePotrait {
        width: 358px;
        height: 490px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
        margin-right: 20px;
    }
    .sobre h2 {
        left: 65px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    .Centrosobre h2 {
        margin-top: 5px;
    }
    /* --------- CONTATO (max-width: 480px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 420px) {
    /* ----------- FOOTER (max-width: 420px) ------------ */
    .footer {
        padding: 12px;
        font-size: 11px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 420px) ---------- */
    /* ----- MENU */
    .menu {
        top: 415px;
        right: 80px;
    }
    .menu ul {
        padding: 17px;
        width: 245px;
        font-size: 23px;
    }
    .clicarFechar {
        display: block;
    }
    .menuhambur {
        top: 432px;
        right: 22px;
    }
    #fechar {
        margin-top: -69px;
        margin-left: 2px;
        font-size: 23px;
        padding: 12px;
        transition: 0.5s;
    }
    /*  */
    /* li util */
    .Infograficos::before {
        font-size: 20px;
    }
    .Web-Design::before {
        font-size: 20px;
    }
    .Mockups::before {
        font-size: 20px;
    }
    .Web-Dev::before {
        font-size: 20px;
    }
    /*  */
    #quadrado-position {
        position: fixed;
        top: 85px;
        left: 25px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 59%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
        background-image: url(../imagens/square-index-menor.png);
    }
    .quadradoUtilites {
        top: 38px;
        left: 208px;
        width: 450px;
        font-size: 16px;
    }
    /* ------ Typer Estilo (max-width: 420px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 420px) */
    .designn {
        font-size: 33px;
        left: 9px;
        top: 249px;
    }
    .nauan {
        font-size: 41px;
        left: 10px;
        top: 207px;
    }
    .menu {
        top: 403px;
        right: 80px;
    }
    /*  */
    /* ---------- OUTRAS PÁGINAS (max-width: 420px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 420px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 103px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 420px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 420px) */
    .trabalhos h2 {
        left: 45px;
        width: 60%;
        top: 31px;
        font-size: 34px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 420px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 420px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 88%;
        left: 32px;
        padding: 1px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 405px;
        z-index: 1000;
    }
    .imagePotrait {
        width: 337px;
        height: 375px;
    }
    .landscape img {
        height: 100%;
        position: absolute;
        left: -283px;
        bottom: 1px;
    }
    .sobre h2 {
        left: 36px;
        width: 70%;
        top: 38px;
        font-size: 36px;
    }
    /* --------- CONTATO (max-width: 420px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 12px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 390px) {
    /* ----------- FOOTER (max-width: 390px) ------------ */
    .footer {
        padding: 12px;
        font-size: 9px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 390px) ---------- */
    /* ----- MENU */
    .menu {
        top: 370px;
        right: 76px;
    }
    .menu ul {
        padding: 12px;
        width: 220px;
        font-size: 14px;
    }
    .clicarFechar {
        display: block;
    }
    .menuhambur {
        top: 385px;
        right: 18px;
    }
    #fechar {
        margin-top: -57px;
        margin-left: 3px;
        font-size: 21px;
        padding: 10px;
        transition: 0.5s;
    }
    /*  */
    /* li util */
    .Infograficos::before {
        font-size: 20px;
    }
    .Web-Design::before {
        font-size: 20px;
    }
    .Mockups::before {
        font-size: 20px;
    }
    .Web-Dev::before {
        font-size: 20px;
    }
    /*  */
    #quadrado-position {
        position: fixed;
        top: 60px;
        left: -1px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 59%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 37px;
        left: 208px;
        width: 450px;
        font-size: 16px;
    }
    /* ------ Typer Estilo (max-width: 390px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 390px) */
    .designn {
        font-size: 30px;
        left: 15px;
        top: 249px;
    }
    .nauan {
        font-size: 38px;
        left: 14px;
        top: 207px;
    }
    /*  */
    /* ---------- OUTRAS PÁGINAS (max-width: 390px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 390px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 103px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 390px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 390px) */
    .trabalhos h2 {
        left: 45px;
        width: 60%;
        top: 31px;
        font-size: 34px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 390px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 390px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 80%;
        left: 42px;
        padding: 1px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 405px;
        z-index: 1000;
    }
    .imagePotrait {
        width: 269px;
        height: 375px;
    }
    .landscape img {
        height: 100%;
        position: absolute;
        left: -283px;
        bottom: 1px;
    }
    .sobre h2 {
        left: 36px;
        width: 70%;
        top: 38px;
        font-size: 36px;
    }
    /* --------- CONTATO (max-width: 390px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 12px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}