@media (max-width: 1400px) {
    #esconder-menu {
        display: block;
    }
    .menu {
        top: 275px;
        right: 42px;
        display: block;
    }
    .link-margem {
        margin-top: 70px;
    }
    .menuhambur {
        top: 572px;
        right: 131px;
    }
    .menuhambur2 {
        top: 572px;
        right: 131px;
    }
    #separarImg {
        float: right;
        height: 530px;
        z-index: 1000;
    }
}

@media (max-width: 1200px) {
    #separarImg {
        float: right;
        height: 520px;
        z-index: 1000;
    }
    .menu {
        top: 422px;
        right: 65px;
    }
    #esconder-menu {
        display: block;
    }
    .link-margem {
        margin-top: 55px;
    }
    .menuhambur {
        top: 422px;
        right: 65px;
    }
    .menuhambur2 {
        top: 302px;
        right: 0px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    #quadrado-position {
        position: fixed;
        top: 165px;
        left: 78px;
        z-index: 999;
    }
}

@media (max-width: 320px) {
    /* ----------- FOOTER (max-width: 320px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 320px) ---------- */
    /* ----- MENU */
    .clicarFechar {
        display: block;
    }
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 320px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 320px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 456px;
        right: 74px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 320px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 320px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 320px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 320px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 320px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 320px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 320px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* ----------- FOOTER (min-width: 768px) and (max-width: 991px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (min-width: 768px) and (max-width: 991px)---------- */
    /* ----- MENU  */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (min-width: 768px) and (max-width: 991px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (min-width: 768px) and (max-width: 991px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 456px;
        right: 74px;
    }
    /* ---------- OUTRAS PÁGINAS (min-width: 768px) and (max-width: 991px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (min-width: 768px) and (max-width: 991px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* portfolio (min-width: 768px) and (max-width: 991px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (min-width: 768px) and (max-width: 991px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (min-width: 768px) and (max-width: 991px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (min-width: 768px) and (max-width: 991px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (min-width: 768px) and (max-width: 991px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 767px) {
    /* ----------- FOOTER (max-width: 767px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 767px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 767px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 767px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 456px;
        right: 74px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 767px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 767px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 767px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 767px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay(max-width: 767px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 767px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 532px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 767px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 600px) {
    /* ----------- FOOTER (max-width: 600px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 600px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 60px;
        left: 60px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 600px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 600px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 407px;
        right: 123px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 600px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 600px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 600px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 600px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 600px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 600px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 530px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 600px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 480px) {
    /* ----------- FOOTER (max-width: 480px) ------------ */
    .footer {
        padding: 12px;
        font-size: 11px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 480px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 60px;
        left: 25px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 480px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 480px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 407px;
        right: 123px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 480px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 480px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 480px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 480px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 480px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 480px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 33px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 480px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}

@media (max-width: 320px) {
    /* ----------- FOOTER (max-width: 320px) ------------ */
    .footer {
        padding: 12px;
        font-size: 14px;
    }
    /* ------------ PÁGINA INICIAL (max-width: 320px) ---------- */
    /* ----- MENU */
    /*  */
    #quadrado-position {
        position: fixed;
        top: 105px;
        left: 2px;
        z-index: 999;
    }
    .quadrado-index {
        background-size: 65%;
        padding: 300px;
        position: absolute;
        transition: 1.0s;
        animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
    }
    .quadradoUtilites {
        top: 64px;
        left: 219px;
        width: 450px;
        font-size: 19px;
    }
    /* ------ Typer Estilo (max-width: 320px) */
    .euSou {
        left: 23px;
        top: -49px;
    }
    .euSou h1 {
        font-size: 20px;
    }
    /* ------- Dentro Quadrado (max-width: 320px) */
    .designn {
        font-size: 39px;
        left: 15px;
        top: 285px;
    }
    .nauan {
        font-size: 50px;
        left: 14px;
        top: 231px;
    }
    /*  */
    .menu {
        top: 456px;
        right: 74px;
    }
    /* ---------- OUTRAS PÁGINAS (max-width: 320px) -------- */
    /* Logo Menu */
    .LogoMenu {
        right: 6px;
        padding: 10px;
    }
    .nauan-sub {
        font-size: 24px;
    }
    .design-sub {
        font-size: 17px;
    }
    /* --------- MEUS PROJETOS (max-width: 320px) ---------- */
    /* DESIGN PROJETOS */
    .Centrotrabalhos {
        top: 156px;
        width: 90%;
        left: 21px;
        padding: 21px;
        font-size: 15px;
    }
    /* ----- DESIGN PORTFOLIO (max-width: 320px) */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 2px;
        display: inline-block;
    }
    .portfolio-thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 30px;
        width: 39%;
    }
    #portfolio .portfolio-list .nav li {
        padding: 1px;
        font-size: 15px;
        line-height: 26px;
    }
    #portfolio .portfolio-list .nav li:hover,
    #portfolio .portfolio-list .nav li.filter-active {
        font-size: 16px;
        line-height: 26px;
    }
    /* Titulo Trabalho (max-width: 320px) */
    .trabalhos h2 {
        width: 50%;
        top: 40px;
        font-size: 42px;
        text-align: center;
    }
    /* Texto Overlay (max-width: 320px) */
    .overlay {
        min-height: 35px;
    }
    .text {
        font-size: 22px;
    }
    .link-margem {
        margin-top: 28px;
    }
    /* --------- SOBRE MIM (max-width: 320px) ---------- */
    .exp {
        width: 100%;
    }
    .MinhasUtilites {
        width: 100%;
        font-size: 18px;
    }
    .Centrosobre {
        top: 72px;
        width: 90%;
        left: 15px;
        padding: 25px;
        margin-bottom: 80px;
        font-size: 18px;
    }
    #separarImg {
        float: right;
        height: 525px;
        z-index: 1000;
    }
    .sobre h2 {
        left: 21px;
        width: 70%;
        top: 38px;
        font-size: 42px;
    }
    /* --------- CONTATO (max-width: 320px) ---------- */
    .CentroContato {
        top: 127px;
        width: 93%;
        padding: 25px;
        left: 23px;
    }
    .contato h2 {
        width: 61%;
        top: 38px;
        left: 20px;
    }
}