@font-face {
    font-family: "Bahnschrift";
    src: url("../fonts/bahnschrift.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background: #000000;
    height: 100% content-box;
    width: 100% content-box;
    color: #ffffff;
    box-sizing: border-box;
    z-index: 995;
}

#IA-MenuBar {
    display: none;
    transition: 0.6s;
}

#IA-MenuOpen {
    display: none;
    transition: 0.6s;
}

#esconder-menu {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 3000;
}

#esconder {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    z-index: 999;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #000000;
}

#quadrado-position {
    position: fixed;
    top: 138px;
    left: 177px;
    z-index: 999;
}

.nauan {
    border-radius: 5px;
    background: black;
    z-index: 10;
    color: white;
    font-size: 65px;
    font-family: Bahnschrift;
    font-style: inherit;
    cursor: default;
    position: absolute;
    left: 192px;
    top: 215px;
    text-transform: uppercase;
    animation: H2Slide 2.5s ease-in-out;
    /* text-shadow: 3px 3px 10px #ffff; */
    padding-left: 8px;
    padding-right: 8px;
}

.designn {
    border-radius: 5px;
    background: black;
    z-index: 10;
    font-size: 41px;
    font-family: Bahnschrift;
    font-style: inherit;
    cursor: default;
    position: absolute;
    left: 233px;
    top: 276px;
    text-transform: uppercase;
    animation: H2Slide 3.2s ease-in-out;
    /* text-shadow: 5px 5px 5px #fff; */
    color: white;
    padding-left: 6px;
    padding-right: 6px;
}

.euSou {
    position: absolute;
    left: 23px;
    top: -49px;
    text-transform: uppercase;
    text-shadow: 3px 2px 3px #000000;
    font-family: Bahnschrift;
    width: 520px;
}

.euSou-Contato {
    text-transform: uppercase;
    text-shadow: 3px 2px 3px #000000;
    font-family: Bahnschrift;
    padding-bottom: 25px;
}

.euSou-Contato h1 {
    text-transform: uppercase;
    font-size: 32px;
    padding: 1px;
    font-family: Bahnschrift;
}

.euSou-Contato p {
    text-transform: uppercase;
    padding: 1px;
    font-family: Bahnschrift;
}

@keyframes euSou {
    from {
        transform: translateX(-1250px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animSou {
    from {
        transform: translateY(-1250px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideFooter {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes go-back2 {
    from {
        transform: translateX(9px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes H2Slide {
    from {
        transform: translateY(950px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeInQuadrado {
    -webkit-animation: fadeIn 2.7s ease-in-out;
    -moz-animation: fadeIn 1.7s ease-in-out;
    -o-animation: fadeIn 1.8s ease-in-out;
    animation: fadeIn 3.0s ease-in-out;
    opacity: 1.0;
}

.quadrado-index {
    background-image: url('https://1.bp.blogspot.com/-kxwlsl8gb_E/YAr4MtQDSMI/AAAAAAAAGjs/PjD4X1OIkjYFi-F_UpEG22ttIY6OOnM5QCLcBGAsYHQ/s0/Nauan-Design-logo-brand.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 300px;
    position: absolute;
    transition: 1.0s;
    animation: quadradoAnim 2.0s, fadeIn 3.0s ease-in-out;
}

@keyframes quadradoAnim {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0);
    }
}

.quadradoUtilites {
    top: 85px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    left: 325px;
    position: absolute;
    width: 450px;
    font-size: 26px;
    font-weight: 400;
    cursor: default;
}

@keyframes LiAnim {
    from {
        transform: translateX(-12350px);
    }
    to {
        transform: translateY(0);
    }
}

.quadradoUtilites li {
    align-content: left;
    margin: 1px auto 23px;
    padding: 6px;
    list-style: none;
    width: 100%;
    transition-timing-function: ease-in-out;
    text-shadow: 3px 2px 4px #000000;
    /* text-shadow: 1px 2px 4px var(--text-shadow); */
}

.Infograficos::before {
    font-size: 23px;
    color: #cf3f57;
    content: "\f022";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Web-Design::before {
    font-size: 23px;
    color: #629e40;
    content: "\f53f";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Web-Dev::before {
    font-size: 23px;
    color: #6f7fdb;
    content: "\f1cd";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Mockups::before {
    font-size: 23px;
    color: #9e8d40;
    content: "\f5ee";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

@keyframes go-back1 {
    from {
        transform: translateX(5px);
    }
    to {
        transform: translateX(0);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    z-index: 1000;
    background: #141414;
    color: #ffffff;
    animation: slideFooter 3.5s;
    box-sizing: border-box;
    border-top: 2px #242424 solid;
}

.footer ul {
    bottom: 14px;
    right: 40px;
    position: absolute;
    box-sizing: border-box;
}

.footer p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}