.menuhambur {
    border: 2px #292929 solid;
    background: #181818;
    box-shadow: 2px 2px 4px #000000;
    top: 308px;
    right: 157px;
    cursor: pointer;
    height: 60px;
    position: fixed;
    width: 60px;
    z-index: 4500;
    animation: HamburAnim 1.5s;
    transition: 0.6s;
}

.menuhambur:hover {
    border: 2px #474747 solid;
    background: #e7e7e7;
    box-shadow: 2px 2px 4px #000000;
    color: #000000;
}

@keyframes HamburAnim {
    from {
        transform: translateX(1350px);
    }
    to {
        transform: translateY(0);
    }
}


/* Menu 2 */

.menuhambur2 {
    border: 2px #292929 solid;
    background: #181818;
    box-shadow: 2px 2px 4px #000000;
    top: 308px;
    right: 0px;
    cursor: pointer;
    height: 60px;
    position: fixed;
    width: 60px;
    z-index: 6000;
    animation: HamburAnim 1.2s;
    transition: 0.6s;
}

.menuhambur2:hover {
    border: 2px #474747 solid;
    background: #e7e7e7;
    box-shadow: 2px 2px 4px #000000;
    color: #000000;
}