#brands {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    box-sizing: border-box;
    z-index: 3900;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brands h2 {
    width: 45%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    cursor: default;
}

#caixabrands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Centrobrands {
    top: 156px;
    width: 70%;
    left: 53px;
    padding: 25px;
    animation: brandsCaixa 1.5s ease-in-out;
    position: absolute;
    font-size: 18px;
    margin-bottom: 75px;
}

@keyframes brandsCaixa {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes TrabalhoIni {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0);
    }
}


/* ------------- PORTFOLIO CSS -------------- */

#portfolio {
    position: relative;
    padding-bottom: 40px;
}

#portfolio .portfolio-list {
    margin-bottom: 10px;
    z-index: 2000;
}

#portfolio .portfolio-list .nav {
    display: inline-block;
    margin-top: 15px;
    color: #ffffff;
    padding: 3px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

#portfolio .portfolio-list .nav li {
    padding: 15px;
    border: 2px #242424 solid;
    background: #141414;
    box-shadow: 2px 2px 4px #000000;
    float: left;
    font-size: 22px;
    color: #ffffff;
    line-height: 16px;
    cursor: pointer;
    font-family: Bahnschrift;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
    color: #000000;
    font-size: 23px;
    border-radius: 10px 10px 0px 0px;
    background: #ffffff;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    position: absolute;
}

.section-title {
    margin-left: 35px;
    font-family: "Bahnschrift";
    font-size: 24px;
    padding-bottom: 10px;
}

.portfolio-thumbnail {
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 265px;
    width: 42%;
    display: inline-block;
    border: 1px solid #191919;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 265px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000ce;
}

.overlay:hover {
    transition: 0.5s;
    opacity: 1;
    left: 0;
}

.text {
    color: #ffffff;
    font-size: 45px;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(224%, 36%);
    -ms-transform: translate(224%, 36%);
    transform: translate(258%, 35%);
    text-align: center;
}

.portfolio-thumbnail img {
    max-width: 100%;
    max-height: 50%;
    display: inline-block;
    transition: 0.5s;
    z-index: 100;
}

.link-margem {
    margin-top: 70px;
}


/* -------------------------------------------------------------------------------------------------- */


/* ******************************* /*  TELA DE ANIMAÇÃO ROTACIONAL* / **************************** */


/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
    width: 260px;
    height: 400px;
    margin: 30px;
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.movie {
    width: 260px;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-130px);
    -moz-transform: translateZ(-130px);
    transform: translateZ(-130px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.movie:hover {
    -webkit-transform: rotateY(-78deg) translateZ(20px);
    -moz-transform: rotateY(-78deg) translateZ(20px);
    transform: rotateY(-78deg) translateZ(20px);
}


/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
    position: absolute;
    width: 260px;
    height: 400px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.movie .poster {
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px);
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
}

.movie .info {
    -webkit-transform: rotateY(90deg) translateZ(130px);
    -moz-transform: rotateY(90deg) translateZ(130px);
    transform: rotateY(90deg) translateZ(130px);
    border: 1px solid #B8B5B5;
    font-size: 0.75em;
}


/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(90deg) translateY(130px);
    -moz-transform: rotateX(90deg) translateY(130px);
    transform: rotateX(90deg) translateY(130px);
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
    box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}


/*************************************
Movie information
**************************************/

.info header {
    font-size: 16px;
    color: #ffffff;
    padding: 7px 11px;
    font-weight: bold;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 1px 2px 3px rgb(0 0 0);
    text-align: center;
}

.info header h1 {
    color: #fff;
    /* margin: 0 0 2px; */
    font-size: 1.4em;
    background: #000000b3;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    margin-bottom: 2px;
}

.info header .consideracoes {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    float: center;
}

.info p {
    padding: 1.2em 1.4em;
    margin: 2px 0 0;
    font-weight: 700;
    color: #080808;
    line-height: 1.4em;
    border-top: 7px solid #242424;
}

.clickbtn {
    margin: 2px 45px 1px 45px;
    text-align: center;
    background: #000000;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0 0 0);
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}

.clickbtn:hover {
    text-align: center;
    background: #ffffff;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0 0 0);
    list-style: none;
}


/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
    box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.csstransforms3d .movie:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(102, 102, 102, 0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
    box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
    box-shadow: inset 0px 0px 40px rgb(45 45 45);
}


/*************************************
Posters and still images
**************************************/


/* POSTER BRANDING */

.scene:nth-child(1) .movie .poster {
    background-image: url('https://1.bp.blogspot.com/-fdRi53hlhN8/YEEWMko4RaI/AAAAAAAAGvY/z9iV7nmaz6UDXW5pcOzU3NHlsKZzRzoUQCLcBGAsYHQ/s0/POSTER%2BBRANDING.png');
}


/*  */


/* POSTER TEMPLATE WEBSITES */

.scene:nth-child(2) .poster {
    background-image: url('https://1.bp.blogspot.com/-1yaU838lbFo/YEEkM0-tmRI/AAAAAAAAGv4/EHUcyRA8mjMzupoMLfBBhHKGPVM6OEi2ACLcBGAsYHQ/s0/POSTER%2BTEMPLATE%2BWEBSITES.png');
}


/*  */


/* STILL POSTER BRANDING */

.scene:nth-child(1) .info header {
    background-image: url('https://1.bp.blogspot.com/-BQ-kCQnmrnI/YEEXj4-vVEI/AAAAAAAAGvg/CwaI7Zbkc1gzE1qIxL_Wp2_PNg0qU8X5ACLcBGAsYHQ/s0/poster%2Bstill01.png');
}


/*  */


/* STILL POSTER TEMPLATE WEBSITES */

.scene:nth-child(2) .info header {
    background-image: url('https://1.bp.blogspot.com/-09ynQVu5MwA/YEEgXdZXqRI/AAAAAAAAGvw/080ITazGN4YfYPorNW8aVxVCtsMpSJ8ngCLcBGAsYHQ/s0/poster%2Bstill02.png');
}


/*  */


/*************************************
Fallback
**************************************/

.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
    position: relative;
}


/*************************************
Media Queries
**************************************/

@media screen and (max-width: 60.75em) {
    .scene {
        float: none;
        margin: 30px auto 60px;
    }
}