#contato {
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
}

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contato h2 {
    width: 45%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    cursor: default;
}

#caixaContato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.CentroContato {
    top: 156px;
    width: 55%;
    padding: 25px;
    border: #ffffff solid 1px;
    animation: ContatoCaixa 1.5s ease-in-out;
    position: absolute;
    font-size: 18px;
    left: 100px;
    border-radius: 5px;
}

@keyframes ContatoCaixa {
    from {
        transform: translateX(-2350px);
    }
    to {
        transform: translateY(0);
    }
}