    /* Quando Clicar no projeto carregar CSSs */
    
    #primeiro-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #segundo-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #terceiro-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #quarto-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #quinto-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #sexto-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #setimo-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    #oitavo-projeto {
        width: 100%;
        height: 100%;
        z-index: 10003;
        display: none;
        overflow: hidden;
    }
    
    .entrada-projeto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .entrada-projeto h2 {
        font-size: 49px;
        width: 100%;
        padding: 5px;
        text-align: center;
        cursor: default;
    }
    
    .fundo-ul {
        position: fixed;
        background: url('https://1.bp.blogspot.com/-sFTXHg1H7rY/YBnsJVagd6I/AAAAAAAAGm0/FZlXElYWMnw0nbEANu7E9KzlX_suhluyACLcBGAsYHQ/s0/backgraynau.png') #181818;
        height: 100%;
        width: 100%;
        z-index: 10002;
        animation: Fundo-ul 1.2s ease-in-out;
        overflow: hidden;
        display: none;
    }
    
    @keyframes Fundo-ul {
        from {
            transform: translateY(1750px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .entrada-projeto ul {
        top: 0;
        padding: 33px;
        font-family: Bahnschrift;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        font-size: 15px;
        border-radius: 10px;
        z-index: 11100;
    }
    
    @keyframes projetoAberto {
        from {
            transform: translateY(2350px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    @keyframes imageProjeto {
        from {
            transform: translateY(-2350px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .posicionar-grande {
        left: 297px;
        position: absolute;
        top: 121px;
    }
    
    .posicionar-centro {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .posicaoimagem {
        width: 75%;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .posicaoimagem img {
        border: 1px #fff solid;
        padding: 10px;
        max-width: 100%;
        max-height: 50%;
        display: inline-block;
        transition: 0.5s;
        z-index: 100;
    }
    
    .posicaoimagem-grande {
        width: 75%;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .posicaoimagem-grande img {
        border: 1px #fff solid;
        padding: 10px;
        max-width: 105%;
        max-height: 50%;
        display: inline-block;
        transition: 0.5s;
        z-index: 100;
    }
    /* GALERIA ------------*/
    
    .FiltroGal {
        padding: 7px;
        border-bottom: 1px #fff solid;
        font-size: 18px;
    }
    
    .menu-galeria {
        margin-left: 13px;
        font-size: 22px;
        padding: 21px;
    }
    
    .portfolio-list-galeria {
        position: fixed;
        margin: 0;
        display: none;
        top: 0;
        z-index: 11000;
        left: -1px;
        border: 2px #242424 solid;
        background: #181818;
        height: 100%;
    }
    
    .portfolio-list-galeria ul {
        padding-top: 17px;
        left: 0px;
        width: 240px;
        overflow: hidden;
    }
    
    .fechar-menu-gal {
        border: 2px #292929 solid;
        background: #181818;
        cursor: pointer;
        height: 38px;
        width: 37px;
        z-index: 4500;
        animation: HamburAnim 1.7s ease-in-out;
        transition: 0.6s;
        z-index: 11000;
        display: block;
        margin-left: 156px;
    }
    
    .fechar-menu-gal:hover {
        border: 2px #474747 solid;
        background: #e7e7e7;
        box-shadow: 2px 2px 4px #000000;
        color: #000000;
    }
    /* abrir menu */
    
    .abrir-menu-gal {
        border: 2px #292929 solid;
        background: #181818;
        box-shadow: 2px 2px 4px #000000;
        top: 3px;
        left: 3px;
        cursor: pointer;
        height: 44px;
        position: fixed;
        width: 44px;
        animation: menusidebar-anim 1.3s ease-in-out;
        transition: 0.6s;
        z-index: 12000;
        display: none;
    }
    
    .abrir-menu-gal:hover {
        border: 2px #474747 solid;
        background: #e7e7e7;
        box-shadow: 2px 2px 4px #000000;
        color: #000000;
    }
    /* fechar projeto */
    
    .fechar-projeto {
        border: 2px #292929 solid;
        background: #181818;
        box-shadow: 2px 2px 4px #000000;
        top: 3px;
        right: 3px;
        cursor: pointer;
        height: 41px;
        position: fixed;
        width: 40px;
        animation: HamburAnim 1.5s ease-in-out;
        transition: 0.6s;
        z-index: 12003;
        display: none;
    }
    
    .fechar-projeto:hover {
        border: 2px #474747 solid;
        background: #e7e7e7;
        box-shadow: 2px 2px 4px #000000;
        color: #000000;
    }
    
    @keyframes menusidebar-anim {
        from {
            transform: translateX(-1350px);
        }
        to {
            transform: translateY(0);
        }
    }
    /*  */
    
    .portfolio-list-galeria .nav li:hover,
    .portfolio-list-galeria .nav li.filter-active {
        color: #000000;
        font-size: 18px;
        border-radius: 9px;
        background: #ffffff;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        padding: 10px;
    }
    
    .portfolio-list-galeria li {
        cursor: pointer;
        padding: 9px;
        font-size: 17px;
        margin-top: 7px;
        color: #fff;
        transition: 0.5s;
    }
    
    .portfolio-list-galeria li:hover {
        cursor: pointer;
        font-size: 17px;
        margin-top: 10px;
        color: rgb(129, 129, 129);
    }
    
    .posicaoLista {
        right: 0px;
        top: 355px;
        width: 19%;
    }
    
    .row {
        margin-left: 115px;
    }
    
    #posicao-outras-imagens {
        animation: galeriaAnim 2.5s ease-in-out;
        overflow: hidden;
        margin-top: 9px;
        width: 1300px;
    }
    
    .galeria-imagens {
        margin-top: 9px;
        margin-bottom: 20px;
        display: none;
        animation: imagens-anim 1.5s ease-in-out;
    }
    /*  */
    
    @keyframes imagens-anim {
        from {
            transform: translateX(2350px);
        }
        to {
            transform: translateX(0);
        }
    }
    
    .margem-div {
        margin-bottom: 250px;
    }
    /* ----------- */
    
    .texto-galeria {
        border-bottom: 1px #fff solid;
        width: 100%;
        font-size: 42px;
        padding: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;
        display: none;
        cursor: default;
    }
    /* ---------- */
    
    .posicao-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    
    .texto-ver-info {
        border: 1px solid #fff;
        background: #242424;
        font-size: 24px;
        padding: 14px;
        margin-bottom: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;
        cursor: pointer;
        color: #ffffff;
        margin-top: 21px;
        border-radius: 9px;
        width: 55%;
    }
    
    .texto-ver-info:hover {
        border: 1px solid #2c2c2c;
        background: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 9px;
    }
    /* ---------- */
    
    @keyframes ANIM-ABRIR {
        from {
            transform: translateY(120px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .posicao-aprs-img {
        width: 80%
    }
    
    .apresentacao-img {
        border: 2px #292929 solid;
        background: #181818;
        cursor: pointer;
        min-height: 115px;
        width: 135px;
        z-index: 4500;
        animation: ANIM-ABRIR 0.7s ease-in-out;
        transition: 0.6s;
        z-index: 11000;
        display: none;
        margin: auto;
    }
    
    .apresentacao-img:hover {
        border: 1px solid #2c2c2c;
        background: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 9px;
    }
    /* ----------- */
    
    .posicao-gal-abrir {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .hover-gal-abrir {
        border: 1px solid #fff;
        background: #242424;
        font-size: 25px;
        padding: 15px;
        margin-top: -53px;
        margin-bottom: 10px;
        border-radius: 9px;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
        color: #ffffff;
        border-radius: 9px;
        animation: gal-abrir 3.2s ease-in-out;
    }
    
    @keyframes gal-abrir {
        from {
            transform: translateY(5350px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .hover-gal-abrir:hover {
        border: 1px solid #2c2c2c;
        background: #ffffff;
        color: #000000;
        border-radius: 9px;
    }
    
    @keyframes galeriaAnim {
        from {}
        to {
            transform: translateX(0);
        }
    }
    /* GALERIA IMAGENS */
    
    .popup-img1,
    .popup-img2,
    .popup-img3,
    .popup-img4,
    .popup-img5,
    .popup-img6,
    .popup-img7,
    .popup-img8 {
        cursor: zoom-in;
    }
    
    .thumbnail {
        margin-bottom: 10px;
        margin-right: 10px;
        min-height: 170px;
        width: 30%;
        display: inline-block;
    }
    
    .thumbnail img {
        max-width: 100%;
        max-height: 50%;
        display: inline-block;
        transition: 0.5s;
        z-index: 100;
    }
    /*  */
    /* HOVER IMAGENS GALERIA --------- */
    
    .overlay-galeria {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 170px;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000000c9;
    }
    
    .overlay-galeria:hover {
        opacity: 1;
    }
    
    .text-galeria {
        color: #ffffff;
        font-size: 250%;
        position: relative;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    /*  */
    
    .texto-projeto {
        border-top: 1px #fff solid;
        position: absolute;
        top: 606px;
        background: #181818;
        width: 55%;
        padding: 20px;
        text-align: justify;
    }
    
    .texto-projeto p {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        padding: 8px;
    }
    
    .expProjetos {
        background: #141414;
        border: 2px #242424 solid;
        box-shadow: 2px 2px 4px #000000;
        padding: 15px;
        font-size: 21px;
        max-width: 580px;
        text-align: left;
    }
    
    .utilizados {
        font-family: Bahnschrift;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        cursor: default;
        top: 490px;
        color: #b9b9b9;
        z-index: 200;
        position: absolute;
    }
    
    .utilizados b {
        color: #e2e2e2;
    }
    
    .utilizados u {
        color: #e2e2e2;
    }
    
    .utilizados i {
        color: #e2e2e2;
    }
    /* HOVER IMAGEM CENTRAL ------------- */
    
    .texto-projeto-lup {
        color: #ffffff;
        position: absolute;
        font-size: 96%;
        bottom: 58px;
        right: 0px;
        text-align: center;
        background-color: #000000c9;
        padding: 11px;
        border: 1px #242424 solid;
        z-index: 400;
        font-weight: 100;
    }
    /*  */
    /* Utilitários ------------ */
    
    .lupa-abrir {
        cursor: pointer;
    }