/* Quando Clicar no projeto carregar CSSs */

#primeiro-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#segundo-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#terceiro-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#quarto-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#quinto-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#sexto-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#setimo-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

#oitavo-projeto {
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10003;
    display: none;
    overflow: hidden;
}

.entrada-projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.entrada-projeto h2 {
    font-size: 49px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.entrada-projeto ul {
    top: 0;
    padding: 40px;
    border: 2px #242424 solid;
    font-family: Bahnschrift;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 10px;
    background: #181818;
    z-index: 11000;
    position: fixed;
    animation: projetoAberto 1.1s ease-in-out;
    overflow-y: scroll;
}

@keyframes projetoAberto {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes imageProjeto {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0);
    }
}

.posicionar-centro {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posicaoimagem {
    width: 75%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posicaoimagem img {
    border: 1px #fff solid;
    padding: 10px;
    max-width: 100%;
    max-height: 50%;
    display: inline-block;
    transition: 0.5s;
    z-index: 100;
}


/* GALERIA ------------*/

.portfolio-list-galeria {
    margin: 0;
}

.portfolio-list-galeria .nav li:hover,
.portfolio-list-galeria .nav li.filter-active {
    color: #000000;
    font-size: 18px;
    border-radius: 9px;
    background: #ffffff;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    padding: 10px;
}

.portfolio-list-galeria li {
    cursor: pointer;
    padding: 9px;
    font-size: 17px;
    margin-top: 7px;
    color: #fff;
    transition: 0.5s;
}

.portfolio-list-galeria li:hover {
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    color: rgb(129, 129, 129);
}

.posicaoLista {
    right: 0px;
    top: 355px;
    width: 19%;
}

#posicao-outras-imagens {
    position: absolute;
    left: 330px;
    top: 865px;
    animation: galeriaAnim 2.5s ease-in-out;
    overflow: hidden;
}

@keyframes galeriaAnim {
    from {}
    to {
        transform: translateX(0);
    }
}


/* GALERIA IMAGENS */

.popup-img1,
.popup-img2,
.popup-img3,
.popup-img4,
.popup-img5,
.popup-img6,
.popup-img7,
.popup-img8 {
    cursor: zoom-in;
}

.galeria-imagens {
    margin-bottom: 55px;
    width: 900px;
    display: inline-block;
    position: absolute;
}

.thumbnail {
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 265px;
    width: 48%;
    display: inline-block;
}

.thumbnail img {
    max-width: 100%;
    max-height: 50%;
    display: inline-block;
    transition: 0.5s;
    z-index: 100;
}


/*  */


/* HOVER IMAGENS GALERIA --------- */

.overlay-galeria {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 265px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000c9;
}

.overlay-galeria:hover {
    opacity: 1;
}

.text-galeria {
    color: #ffffff;
    font-size: 420%;
    position: absolute;
    top: 35%;
    left: 40%;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50, 50%);
    transform: translate(50%, 50%);
    text-align: center;
}


/*  */

.texto-projeto {
    border-top: 1px #fff solid;
    position: absolute;
    top: 565px;
    background: #181818;
    width: 55%;
    padding: 20px;
    text-align: justify;
}

.expProjetos {
    background: #141414;
    border: 2px #242424 solid;
    box-shadow: 2px 2px 4px #000000;
    padding: 15px;
    font-size: 21px;
    max-width: 450px;
    text-align: left;
}

.utilizados {
    font-family: Bahnschrift;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    top: 490px;
    color: #b9b9b9;
    z-index: 200;
    position: absolute;
}

.utilizados b {
    color: #e2e2e2;
}

.utilizados u {
    color: #e2e2e2;
}

.utilizados i {
    color: #e2e2e2;
}


/* HOVER IMAGEM CENTRAL ------------- */

.texto-projeto-lup {
    top: -570%;
    color: #ffffff;
    font-size: 190%;
    position: absolute;
    font-size: 149%;
    left: 130%;
    text-align: center;
    background-color: #000000c9;
    padding: 11px;
    border: 1px #ffffff solid;
    z-index: 400;
}

.texto-projeto-grande-lup {
    top: -570%;
    color: #ffffff;
    font-size: 190%;
    position: absolute;
    font-size: 149%;
    left: -120%;
    text-align: center;
    background-color: #000000c9;
    padding: 11px;
    border: 1px #ffffff solid;
    z-index: 400;
}


/*  */


/* Utilitários ------------ */

.lupa-abrir {
    cursor: pointer;
}

.fechar-projeto {
    border: 2px #292929 solid;
    background: #181818;
    box-shadow: 2px 2px 4px #000000;
    top: 5px;
    right: 26px;
    cursor: pointer;
    height: 60px;
    position: fixed;
    width: 60px;
    z-index: 4500;
    animation: HamburAnim 1.5s ease-in-out;
    transition: 0.6s;
    z-index: 11000;
    display: none;
}

.fechar-projeto:hover {
    border: 2px #474747 solid;
    background: #e7e7e7;
    box-shadow: 2px 2px 4px #000000;
    color: #000000;
}