#servico {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    box-sizing: border-box;
    z-index: 3900;
}

.servico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.separarCima {
    background: #141414;
    font-size: 25px;
    border-bottom: #242424 solid 1px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}

.separarT {
    background: #141414;
    font-size: 16px;
    margin-top: 15px;
    border-bottom: 1px solid #242424;
    padding: 9px;
    border-radius: 5px;
    text-align: center;
}

.servico h2 {
    width: 65%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    cursor: default;
}

#caixaServico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.CentroServico {
    top: 156px;
    width: 60%;
    left: 100px;
    padding: 25px;
    animation: fadeIn 3.9s ease-in-out;
    position: absolute;
    font-size: 18px;
    margin-bottom: 52px;
}

.call-buttons {
    width: 38%;
    margin: 35px auto;
}

.whatssapp-btn {
    text-align: center;
    border: 1px #06a700 solid;
    font-size: 24px;
    padding: 17px;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 10px;
    cursor: pointer;
}

.whatssapp-btn:hover {
    background: #06a700;
    border: 1px #ffffff solid;
}

.insta-btn {
    margin-top: 25px;
    text-align: center;
    border: 1px #a70067 solid;
    font-size: 24px;
    padding: 17px;
    text-transform: uppercase;
    transition: 0.6s;
    border-radius: 10px;
    cursor: pointer;
}

.insta-btn:hover {
    background: #a70067;
    border: 1px #ffffff solid;
}


/**
 * ----------------------------------------
 * animation flip2
 * ----------------------------------------
 */

@keyframes flip {
    0% {
        transform: translateY(0) rotateX(0);
        transform-origin: 50% 0%;
    }
    100% {
        transform: translateY(-100%) rotateX(-180deg);
        transform-origin: 50% 100%;
    }
}


/*  */

@keyframes servicoCaixa {
    from {
        transform: translateX(-2350px);
    }
    to {
        transform: translateY(0);
    }
}


/**
 * ----------------------------------------
 * animation flip-2-hor-top
 * ----------------------------------------
 */

@-webkit-keyframes flip-2-hor-top {
    0% {
        transform: translateY(0) rotateX(0);
        transform-origin: 50% 0%;
    }
    100% {
        transform: translateY(-100%) rotateX(-180deg);
        transform-origin: 50% 100%;
    }
}

@keyframes flip-2-hor-top {
    0% {
        transform: translateY(0) rotateX(0);
        transform-origin: 50% 0%;
    }
    100% {
        transform: translateY(-100%) rotateX(-180deg);
        transform-origin: 50% 100%;
    }
}