#sobre {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    z-index: 1900;
    box-sizing: border-box;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sobre h2 {
    width: 45%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    cursor: default;
}

#caixasobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Centrosobre {
    top: 156px;
    width: 58%;
    left: 100px;
    padding: 25px;
    margin-bottom: 80px;
    animation: sobreCaixa 1.9s ease-in-out;
    position: absolute;
    font-size: 18px;
}

.Centrosobre h2 {
    margin-top: 30px;
    width: 65%;
    border-bottom: 1px #ffffff solid;
    padding: 8px;
    z-index: 600;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.Centrosobre p {
    margin-top: 55px;
    text-align: justify;
    text-transform: none;
    padding-bottom: 10px;
}

#separarImg {
    float: right;
    height: 1500px;
    z-index: 1000;
    margin-left: 17px;
}

.imagePotrait {
    width: 340px;
    height: 490px;
    background-color: #141414;
    padding: 15px;
    margin-left: 35px;
    margin-bottom: 35px;
    border: 1px #ffffff solid;
    animation: go-back1 6.0s infinite alternate;
    overflow: hidden;
    margin: 20px 2px auto;
    float: left;
}

.imagePotrait img {
    display: block;
}

.portrait img {
    width: 100%;
    padding: 15px;
}

.landscape img {
    height: 100%;
    position: absolute;
    left: -390px;
    bottom: 1px;
}

@keyframes sobreCaixa {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes SobreIni {
    from {
        transform: translateX(-2350px);
    }
    to {
        transform: translateX(0);
    }
}

.MinhasUtilites {
    font-family: Bahnschrift;
    text-transform: uppercase;
    width: 660px;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
    margin-bottom: 20px;
    color: #b9b9b9;
}

.MinhasUtilites b {
    color: #e2e2e2;
}

.MinhasUtilites u {
    color: #e2e2e2;
}

.MinhasUtilites i {
    color: #e2e2e2;
}

@keyframes LiAnim2 {
    from {
        transform: translateX(-8350px);
    }
    to {
        transform: translateY(0);
    }
}

.MinhasUtilites li {
    align-content: left;
    margin: 15px auto 15px;
    padding: 6px;
    list-style: none;
    width: 100%;
    color: #ffffff;
    font-size: 28px;
    transition-timing-function: ease-in-out;
    text-shadow: 3px 2px 4px #000000;
    /* text-shadow: 1px 2px 4px var(--text-shadow); */
}

.MinhasUtilites p {
    margin-top: 15px;
}

.Infograficos::before {
    font-size: 23px;
    color: #cf3f57;
    content: "\f022";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Web-Design::before {
    font-size: 23px;
    color: #629e40;
    content: "\f53f";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Web-Dev::before {
    font-size: 23px;
    color: #6f7fdb;
    content: "\f1cd";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.Mockups::before {
    font-size: 23px;
    color: #9e8d40;
    content: "\f5ee";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.5em;
    z-index: 99;
}

.exp {
    background: #141414;
    border: 2px #242424 solid;
    box-shadow: 2px 2px 4px #000000;
    padding: 15px;
    font-size: 21px;
    margin-top: 25px;
    width: 535px;
    text-align: center;
}