#templates {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    box-sizing: border-box;
    z-index: 3900;
}

.template-title {
    margin-left: 153px;
    font-family: "Bahnschrift";
    font-size: 24px;
    padding-bottom: 10px;
}

.template-title-premium {
    margin-left: 153px;
    font-family: "Bahnschrift";
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: bold;
}

.template-title-premium b {
    background: #0087ee;
    border-radius: 14px;
    padding: 5px;
    font-size: 26px;
    color: #ffc800;
    border: 4px solid #ffc800;
}

.templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.templates h2 {
    width: 45%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    cursor: default;
}

#caixatemplates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Centrotemplates {
    top: 156px;
    width: 75%;
    left: -22px;
    padding: 25px;
    animation: templatesCaixa 1.5s ease-in-out;
    position: absolute;
    font-size: 18px;
    margin-bottom: 75px;
    overflow: hidden;
    text-shadow: 1px 2px 2px rgb(0 0 0);
}

@keyframes templatesCaixa {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes TrabalhoIni {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0);
    }
}