#trabalhos {
    background: #000000;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    font-family: sans-serif;
    box-sizing: border-box;
    z-index: 1000;
}

.trabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.trabalhos h2 {
    width: 45%;
    top: 70px;
    color: #ffffff;
    font-family: Bahnschrift;
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    cursor: default;
}

#caixatrabalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Centrotrabalhos {
    top: 156px;
    width: 45%;
    left: 100px;
    padding: 25px;
    height: 500px;
    animation: trabalhosCaixa 1.5s ease-in-out;
    position: absolute;
    font-size: 18px;
}

@keyframes trabalhosCaixa {
    from {
        transform: translateY(2350px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes TrabalhoIni {
    from {
        transform: translateY(-2350px);
    }
    to {
        transform: translateY(0);
    }
}